<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head :: head('Cadastro Categoria')}">
</head>

<body>
	<header th:replace="~{fragmentos/nav-bar :: nav-bar}"></header>
	<div class="container-fluid">

		<div class="body-form" style="width: 90%; margin: auto;">
			<header class="top-title">
				<div class="painel-top" >
					<div th:replace="~{fragmentos/titulo-modulos :: modulo('Cadastrar Livros')}"></div>
				</div>
			</header>

			<form method="post" th:action="@{/livro/novo}"
				th:object="${livro}">
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="id">ID</label>
						<input name="id" type="text" class="form-control" readonly="readonly" id="id"
							placeholder="Ex: identificador">
					</div>
					<div class="form-group col-md-4">
						<label for="titulo">Titulo Do Livro</label>
						<input th:errorClass="is-invalid" name="titulo" th:field="*{titulo}" type="text"
							class="form-control" id="titulo" placeholder="Ex: Nome Do Livro">
						<div style="display: block;" class="invalid-feedback" th:errors="*{titulo}"></div>

					</div>
					<div class="form-group col-md-4">
						<label for="subtitulo">Sub-Titulo</label>
						<input th:errorClass="is-invalid" name="subtitulo" th:field="*{subTitulo}" type="text"
							class="form-control" id="subtitulo" placeholder="Ex: Assunto do Livro">
						<div style="display: block;" class="invalid-feedback" th:errors="*{subTitulo}"></div>

					</div>
				</div>


				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="urlcapalivro">Url da capa do livro</label>
						<input th:errorClass="is-invalid" name="urlcapalivro" th:field="*{urlCapaLivro}" type="text"
							class="form-control" id="urlcapalivro" placeholder="Ex: o indereco da imagem">
						<div style="display: block;" class="invalid-feedback" th:errors="*{urlCapaLivro}"></div>

					</div>

					<div class="form-group col-md-4">
						<label for="categoria">Categoria do Livro</label>
						<select name="categoria" id="categoria" class="form-control">
							<option selected>[--Selecione a Categoria--]</option>
							<option th:each="categ : ${combCategorias}" th:value="${categ.id}"
								th:text="${categ.nomeCategoria}" />
						</select>
						<div style="display: block;" th:class="invalid-feedback" th:errors="*{categoria}"></div>
					</div>

					<div class="form-group col-md-2">
						<label for="numerospaginas">Paginas</label>
						<input type="number" placeholder="Ex: Quantidade Paginas" class="form-control"
							id="numerospaginas">
					</div>

					<div class="form-group" style="width: 600px;">
						<label for="exampleFormControlTextarea1">Descricao</label>
						<textarea name="descricao" th:field="*{descricao}" minlength="0" maxlength="600"
							placeholder="Maximo 600 Caracteres" class="form-control" id="exampleFormControlTextarea1"
							rows="3"></textarea>
						<div style="display: block;" th:class="invalid-feedback" th:errors="*{descricao}"></div>

					</div>
				</div>


				<button type="submit" class="btn btn-primary">Registrar novo livro</button>
				<button type="button" class="btn btn-primary">limpar</button>

			</form>

		</div>

	</div>
</body>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</html>