<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head   th:insert="~{fragmentos/head :: head('LOGIN')}"></head>

<body>
	<style>
		a {
			text-decoration: none;
		}

		.login-page {
			width: 100%;
			height: 100vh;
			display: inline-block;
			display: flex;
			align-items: center;
		}

		.form-right i {
			font-size: 100px;
		}
	</style>
	<div class="login-page bg-light">
		<div class="container">
			<div class="row">

				<div class="col-lg-10 offset-lg-1">
					<h3 class="mb-3">Realize Seu Login</h3>
					
					<div th:if="${param.error != null}" class="alert alert-danger" role="alert">
						<p th:if="${param.error}" class="error-message" th:text="#{spring.security.auth.error}"></p>
					</div>
					
					<div class="bg-white shadow rounded">
						<div class="row">
							<div class="col-md-7 pe-0">
								<div class="form-left h-100 py-5 px-5">
									<form th:action="@{/login}" method="post" class="row g-4">
										<div class="col-12">
											<label>Seu Login <span class="text-danger">*</span></label>
											<div class="input-group">
												<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
												<input  name="username" type="text" class="form-control"
													placeholder="Ex: aaxxxaa@gmail.com">
											</div>
										</div>
										

										<div class="col-12">
											<label>Sua Senha <span class="text-danger">*</span></label>
											<div class="input-group">
												<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
												<input name="password" type="password" class="form-control" placeholder="senha">
											</div>
										</div>
										
										<div class="col-sm-6"></div>

										<div class="col-sm-6">
											<a href="#" class="float-end text-primary">recuperar senha?</a>
										</div>

										<div class="col-12">
											<button type="submit"
												class="btn btn-primary px-4 float-end mt-4">Logar</button>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 ps-0 d-none d-md-block">
								<div class="form-right h-100 bg-primary text-white text-center pt-5">
									<i class="bi bi-bootstrap"></i>
									<h2 class="fs-1">Seja Bem Vindo Garotao!!!</h2>
								</div>
							</div>
						</div>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>


</html>